@font-face {
    font-family: "NorseBold";
    src: url(./font/Norse-Bold.otf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    background-color: rgb(246, 246, 246);
}
#pageContainer {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 58);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    position: absolute;
}
#sideBar {
    width: 40%;
    height: 100%;
}
#background {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
    position: relative;
    display: flex;
    background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
}

#odinLogo {
    background-repeat: no-repeat;
    position: absolute;
    bottom: 10px;
    max-width: 50px;
    height: auto;
    scale: 50%;
    z-index: 3;
}

#formSide {
    border-radius: 15px;
    position: relative;
    width: 75%;
    height: 100%;
    background-color: #fff;
}

#odin {
    font-family: "NorseBold";
    top: 10px;
    padding: 15px;
    font-size: 125px;
    position: relative;
}

#greeting {
    padding: 15px;
    margin-bottom: 30px;
}

.labelAndInput {
    display: inline;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
#greeting {
    font-size: 20px;
    font-weight: bold;
}
#accountForm {
    box-sizing: border-box;
    width: 100%;
    max-height: max-content;
    box-shadow: 5px 5px 5px lightgray;
    background-color: white;
    margin-bottom: 10px;
    padding: 15px;
    padding-bottom: 35px;
}

label {
    display: inline-block;
    margin-top: 25px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 10px;
}
input {
    box-sizing: border-box;
    display: block;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    font-size: 15px;
    height: 30px;
    width: 200px;
    margin-top: 2px;
    margin-right: 70px;
}

input:focus {
    box-shadow: 5px 5px 5px lightgray;
    outline: 1px solid blue;
}

input:invalid {
    border: 1px solid red;
}

#submitArea {
    padding: 15px;
    margin-top: 30px;
}
button {
    height: 50px;
    width: 250px;
    font-size: 18px;
    color: white;
    background-color: #596d48;
    border: 1px solid #596d48;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgrey;
}

#submitArea > p {
    font-size: 15px;
    font-weight: 400;
}

#submitArea > p > a {
    color: #596d48;
    font-weight: bold;
    text-decoration: none;
}
